.env
.bundle/*
.DS_Store
*.sw?
**tmp/*
.rbenv-version
*.un~

# Too lazy to make the bot clean these up
bots/captcha-bot/*.jpg
bots/captcha-bot/*.png

# Too big to store in git
bots/ominous-zoom/sounds
bots/pikachaplin/mp4s
